PORT=3000
NODE_ENV=development

CLIENT_ID=UUID
CLIENT_SECRET=SECRET
TENANT_ID=UUID

REDIRECT_URI=http://localhost:3000/api/v1/auth/redirect
FRONTEND_URL=http://localhost:5173
ALLOWED_DOMAINS=infoziant.com

DATABASE_URL="postgresql://db_username:password@host:port/dbname"

VERBOSE_AUTH_LOGS=true
JWT_SECRET="secret_987"
SECURE_COOKIE=true